.form-field {
  @include flex-column-start;


  &__caption {
    margin-bottom: 8px;
    font-size: rem(14);
    line-height: 1.5;
    color: $color-gray-800;
  }

  &__input {
    padding-left: 16px;
    border: 1px solid $color-gray-400;
    border-radius: 4px;
    width: 260px;
    height: 44px;
    font-size: rem(14);
    line-height: 1.5;
    background-color: $color-gray-200;

    &::placeholder {
      color: $color-gray-600;
    }
  }

  &--big {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
    }
  }
}